<html>
  <head>
    <title>{{title}}</title>
    <!--link rel='stylesheet' href='../../public/stylesheets/styles.css' />-->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <div class="login-box">
    <header>
      <h1 style="text-align:center; color: antiquewhite;">Restaurant DB
        Management</h1>
    </header>
    <body>
      {{{body}}}
    </body>
    <footer>
      <h3 style="text-align:center; color: antiquewhite;">By Bhupinder, Manan
        and Berk @HumberIGS</h3>
    </footer>
  </div>
</html>