<!DOCTYPE html>
<html>
  <head>
    <title>Welcom</title>
    <link rel="stylesheet" href="../../public/stylesheets/styles.css" />
  </head>
  <header>Restaurant DB Management</header>
  <body>
    <h2>Welcome to the </h2>
    <h3>Enter some Information for Us to find them. Remember! These are sorted :)</h3>
    <form
      method="GET"
      action="/api/displayRestuarants"
      enctype="application/x-www-form-urlencoded"
    >
      <label> Page Number: </label><br />
      <input type="text" name="page" placeholder="e.g. 1-100" /><br />
      <label> Items per page :</label><br />
      <input type="text" name="perPage" placeholder="e.g. 5,10,15" /><br />
      <label> Which Borough are you looking in:</label><br />
      <input type="text" name="borough" placeholder="e.g. Brookyln" /><br />
      <input type="submit" value="Search" />
    </form>
  </body>
  <footer>By Bhupinder, Manan and Berk</footer>
</html>