<body>
  <form
    method="POST"
    action="/api/login"
    enctype="application/x-www-form-urlencoded"
  >
    <div class="user-box">
      <div class="user-box">
        <input type="text" name="name" placeholder="" required="true" />
        <label>Name </label>
      </div>
      <div class="user-box">
        <input type="text" name="email" placeholder="" required="true" />
        <label>Email </label>
      </div>
      <div class="user-box">
        <input type="password" name="password" placeholder="" required="true" />
        <label>Password</label>
      </div>
      <input type="submit" value="Login" />
    </div>
  </form>
</body>