<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='../../public/stylesheets/styles.css' />
  </head>
  <header>   
    Restaurant DB Management
  </header>
  <body>
    {{{body}}}
  </body>
  <footer>
    by Bhupinder, Manan and Berk
  </footer>
</html>